graft docs
graft src
graft tests
graft tests/struct/data

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include setup.cfg
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include dev-requirements.txt requirements.txt
include tox.ini .travis-deploy.sh
include *.yml

recursive-include tests *
recursive-include tests/struct/data *.xml

recursive-exclude docs/build *
recursive-exclude src/dbassembly *.py,cover

global-exclude *.py[cod] __pycache__ *.so *.dylib *.kate-swp *.swp *~
