graft docs
graft examples
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include setup.cfg

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include dev-requirements.txt
include requirements.txt

include tox.ini .travis.yml

recursive-include tests/data *
recursive-include tests/relaxng *

recursive-exclude docs/build html singlehtml .doctrees/* _static _static/* *.html *.js .buildinfo *.inv .doctrees _sources _sources/*
exclude docs/build

global-exclude *.py[cod] __pycache__ *.so *.dylib *.kate-swp *.swp *~
